data/

predictions/
reports/
models/
mlruns/
catboost_info/
*.npy
*.csv
*.png

venv/
env/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

.git/
.github/
.gitignore
.vscode/
.idea/
tests/
README.md
LICENSE
requirements-dev.txt
